.btn-primary {
  --bs-btn-color: var(--#{$primary}body-color);
  --bs-btn-hover-bg: #{shade-color($primary, 10%)};
  --bs-btn-hover-border-color: #{shade-color($primary, 10%)};
  --bs-btn-active-color: var($primary);
  --bs-btn-active-bg: #{shade-color($primary, 25%)};
  --bs-btn-active-border-color: #{shade-color($primary, 25%)};
  background-image: linear-gradient(145deg, #38c682, #00796d);
}

.btn-primary:hover {
  background-image: linear-gradient(150deg, #1fad69, #006054);
}
