.btn-primary {
  --bs-btn-hover-bg: #{shade-color($primary, 10%)};
  --bs-btn-hover-border-color: #{shade-color($primary, 10%)};
  --bs-btn-active-color: var($primary);
  --bs-btn-active-bg: #{shade-color($primary, 25%)};
  --bs-btn-active-border-color: #{shade-color($primary, 25%)};
}
